.hero .overlay {
    background: rgba($pink, .7);
}

.hero {
    text-align: center;
}
.hero .wrap {
    padding: 60px 0;
}
.feature img {
    border-radius: $default-border-radius;
    @include size(100% auto);
}

.customer img {
    border-radius: $default-border-radius;
    @include size(150px);
}

.testimonials {
    background: $orange;
    text-align: center;

    .name {
        display: block;
    }

    .quote {
        font-style: italic;
        font-family: $raleway;
    }
}